
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Beamity - Login</title>
    <script src="https://kit.fontawesome.com/9e517a54b5.js"></script>
    <link href="~/package/dist/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
</head>
<body style="background-color:#343A40;">

    @{
        var data = ViewBag.Message;
    }
    @*<h3 id="ConfirmCode">@data</h3>*@
    <div class="container text-center">
        <div class="card card-login mx-auto mt-5">
            <div class="row">

                <h3>Please click the button for confirmation</h3>
                <br />
                <p></p>

                <div class="container text-center">

                    <input type="button" id="update" name="name" value="Confirm" class="btn btn-primary" />


                </div>
            </div>
        </div>
    </div>
    
   
    <input type="text" id="ConfirmCode" name="name" hidden value="@data" />
    <!--Ajax Libraries-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>

    <link href="~/package/dist/sweetalert2.css" rel="stylesheet" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/package/dist/sweetalert2.js"></script>

    <script>
        function swalload() {
            swal.fire({
                title: 'Loading....',
                html: 'Please wait during the processing time',
                timer: 10000,
                onBeforeOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                    }, 100)
                },
                onClose: () => {

                }
            });
        }
        $("#update").click(function () {
            swalload();
            var options = {};
            options.url = "https://localhost:5001/api/User/ConfirmEmail";
            options.type = "POST";
            var data = {};
            data.ConfirmCode = $("#ConfirmCode").val();
            options.data = JSON.stringify(data);
            options.contentType = "application/json";
            options.dataType = "html";
            debugger
            options.success = function () {
                Swal({
                    type: 'success',
                    title: 'Thanks',
                    text: 'Operation is success',
                }).then(function () {

                    window.location.href = "/";
                })
            };
            $.ajax(options);
        });
    </script>
</body>
</html>


