
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verification</title>
</head>
<body>
    <h1>Thanks For Verification. You can go login page.</h1>
    @{
        var data = ViewBag.Message;
    }
    @*<h3 id="ConfirmCode">@data</h3>*@
    <input type="text" id="ConfirmCode" name="name" hidden value="@data" />
    <input type="button" id="update" name="name" value="Confirm" />
    <!--Ajax Libraries-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <link href="~/package/dist/sweetalert2.css" rel="stylesheet" />

    <!-- Bootstrap core JavaScript-->
    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    @*<script src="~/js/jquery.easing.min.js"></script>*@

    <script src="~/package/dist/sweetalert2.js"></script>

    <script>

        //var code = document.getElementById('#ConfirmCode').value;
        debugger

        $("#update").click(function () {
            var options = {};
            options.url = "https://localhost:5001/api/User/ConfirmEmail";
            options.type = "POST";
            var data = {};
            data.ConfirmCode = $("#ConfirmCode").val();
            options.data = JSON.stringify(data);
            options.contentType = "application/json";
            options.dataType = "html";
            debugger
            options.success = function () {
                Swal({
                    type: 'success',
                    title: 'Thanks',
                    text: 'Operation is success',
                }).then(function () {

                    window.location.href = "/";
                })
            };
            $.ajax(options);
        });

    </script>
</body>
</html>


