@model IEnumerable<Beamity.Application.DTOs.LocationDTOs.ReadLocationDTO>

@{
    ViewData["Title"] = "ChooseLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="modal fade" style="height:500px;" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Please Select Your Location</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" id="Choose" name="name" data-id="@item.Id" value="Choose">
                                        <i class="far fa-check-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $("#loginModal").modal('show');

    });
    $("#Choose").click(function () {
        var Id = $(this).data("id");
        debugger
        $.post('/Location/SetVariable',
            {
                value: Id
            }, function (data) {
                window.location.href = "/Home/Index";
            }).success(function () {


            });
    });
</script>