@model IEnumerable<Beamity.Application.DTOs.LocationDTOs.ReadLocationDTO>

@{
    ViewData["Title"] = "ChooseLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="modal fade" style="height:500px;" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Please Select Your Location</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-success m-2" id="Create"><i class="far fa-plus-square"></i> Create</button>
                <table class="table">
                    <thead class="table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" id="Choose" name="name" data-id="@item.Id" value="Choose">
                                        <i class="far fa-check-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="CreateModel"
     data-keyboard="false" data-backdrop="static">



    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Location</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <div id='menu'>
                        <input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
                        <label for='streets'>streets</label>
                        <input id='light-v10' type='radio' name='rtoggle' value='light'>
                        <label for='light'>light</label>
                        <input id='dark-v10' type='radio' name='rtoggle' value='dark'>
                        <label for='dark'>dark</label>
                        <input id='outdoors-v11' type='radio' name='rtoggle' value='outdoors'>
                        <label for='outdoors'>outdoors</label>
                        <input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
                        <label for='satellite'>satellite</label>
                    </div>
                </div>
                <div id='map' style="height:300px; width:auto"></div>
                <form class="mt-3">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Location Name" id="inputName" />
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="latitude" placeholder="Latitude">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="longitude" placeholder="Longitude">
                        </div>
                    </div>
                    <select class="form-control" id="projects"></select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="CreateLocation" class="btn btn-primary button button4">Create</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>

            <pre id='info'></pre>



        </div>



    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>


    var Lat;
    var Lng;

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWxwZXJlbmFyYyIsImEiOiJjanhvajk2OTUwN211M2hxczBiM2dyZmVwIn0.tVVrqxVmx9Io-0dMbKBH_w';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });

    map.on('load', function () {
        map.resize();
    });

    var marker = new mapboxgl.Marker();
    map.on('click', function (e) {


        marker.remove();
        Lat = e.lngLat.lat;
        Lng = e.lngLat.lng;
        document.getElementById('latitude').value = Lat.toString();
        document.getElementById('longitude').value = Lng.toString();

        marker.setLngLat([Lng, Lat])
        marker.addTo(map);
    });



    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    function switchLayer(layer) {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }
    $(document).ready(function () {
        $("#loginModal").modal('show');

    });
    $("#Choose").click(function () {
        swalload()
        var Id = $(this).data("id");
        debugger
        $.post('/Session/SetVariable',
            {
                value: Id
            }, function (data) {
                window.location.href = "/Home/Index";
            }).success(function () {


            });
    });

    function swalload() {
        swal.fire({
            title: 'Loading....',
            html: 'Please wait during the processing time',
            timer: 10000,
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {

            }
        });
    }
    $(document).ready(function () {
        $("#Create").click(function () {
            $("#CreateModel").modal('show');
        });
        $("#CreateModel").on('shown.bs.modal', function () {
            map.resize();
        });
        $("#btnHideModal").click(function () {
            $("#CreateModel").modal('hide');
        });
    });

    $("#CreateLocation").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Location/CreateLocation";
        options.type = "POST";
        var obj = {};
        obj.Name = $("#inputName").val();
        obj.Latitude = Lat.toString();
        obj.Longitude = Lng.toString();
        obj.ProjectId = $("#projects").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {
                window.location.href = "/Location/ChooseLocation";
            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Project/GetAllProject";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {

            data.forEach(function (v) {
                $('[id = "projects"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
</script>