@model Beamity.Application.DTOs.UserDTOs.LoginUserDTO

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Beamity - Login</title>
    <script src="https://kit.fontawesome.com/9e517a54b5.js"></script>
    <link href="~/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="row" style="height:100px; width:200px;"></div>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header ">Verification</div>
            <div class="card-body">
                <h3>Please confirm your email.</h3>
                <div class="text-center">
                    <a class="d-block small mt-3" href="/User/Login">Do you already have an account?</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
