@model Beamity.Web.Models.UpdateContentViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>UpdateContentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="put" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"value="@Model.Id" id="id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="inputName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="inputTitle" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" id="inputDescription" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* MainImageUrl  *@
                <label asp-for="MainImage" class="control-label"></label>
                <input asp-for="MainImage" type="file" class="file" id="mainImage" name="files" />
            </div>

            <div class="form-group">

                @* SlideImageUrl  *@
                <label asp-for="SlideImage" class="control-label"></label>
                <input asp-for="SlideImage" type="file" id="slideImage" name="slide" />
            </div>

            <div class="form-group">

                @* VideoUrl *@
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" type="file" id="video" name="video" />
            </div>

            <div class="form-group">

                @* AudioUrl *@
                <label asp-for="Audio" class="control-label"></label>
                <input asp-for="Audio" type="file" id="audio" name="audio" />
            </div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" id="inputText" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-id="@Model.Id" id="isHome" asp-for="IsHomePage" /> @Html.DisplayNameFor(model => model.IsHomePage)
                </label>
            </div>
            
        </form>
        <div class="form-group">
            <input type="button" id="update" value="Save" class="btn btn-primary" />
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function swalload() {
        swal.fire({
            title: 'Loading....',
            html: 'Please wait during the processing time',
            timer: 10000,
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {

            }
        });
    }
    $("#update").click(function () {
        swalload();
        var options = {};
        options.url = '/Content/Update';
        options.type = "PUT";
        var obj = new FormData();
        obj.append('Id', $("#id").val());
        obj.append('Name', $("#inputName").val());
        obj.append('Title', $("#inputTitle").val());
        obj.append('Description', $("#inputDescription").val());
        obj.append('MainImage', $("#mainImage")[0].files[0]);
        obj.append('SlideImage', $("#slideImage")[0].files[0]);
        obj.append('Video', $("#video")[0].files[0]);
        obj.append('Audio', $("#audio")[0].files[0]);
        obj.append('Text', $("#inputText").val());
        obj.append('IsHomePage', $("isHome").val());
        options.data = obj;
        options.contentType = false;
        options.processData = false;
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Content/Index";
            })
        };
        options.error = function (error) {
            alert("error");
            alert(error.msg);
        };
        $.ajax(options);
    });
</script>
